#div_1 {
    border: 1px solid black;
    padding: 9px;
}

#div_2 img {
    float: left;
    margin-right: 11px;
}

#div_3 {
    background-color: slategrey;
    padding: 10px;
}

.positioned-div {
    position: absolute;
    top: 83px;
    left: 83px;
    width: 475px;
    height: 475px;
    z-index: 10;
}
